[workspace]
authors = ["Shitong Luo <luost26@gmail.com>"]
channels = ["conda-forge"]
name = "prexsyn-engine"
platforms = ["linux-64"]
version = "2.0.0.dev0"

[dependencies]
compilers = ">=1.11.0,<2"
libcxx = ">=21.1.8,<22"
cmake = ">=4.2.3,<5"
ninja = ">=1.13.2,<2"
cairo = ">=1.18.4,<2"
zlib = ">=1.3.1,<2"
pre-commit = ">=4.5.1,<5"
pybind11 = ">=3.0.1,<4"

[tasks]
install-boost = { cmd = "./boost.sh", cwd = "third_party" }
install-rdkit = { cmd = "./rdkit.sh", cwd = "third_party" }
