[workspace]
name = "prexsyn-engine"
channels = ["conda-forge"]
platforms = ["linux-64"]
preview = ["pixi-build"]

[package]
name = "prexsyn-engine"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-rattler-build", version = "0.3.*" }

[dependencies]
python = ">=3.11,<3.14"

[feature.dev.dependencies]
pip = "*"
setuptools = "*"
pre-commit = "*"
pytest = "*"
numpy = ">=2.0.0,<3"
rdkit = ">=2025.3.6"
librdkit-dev = ">=2025.3.6"
libboost-python-devel = ">=1.86.0,<2"
cmake = ">=4.1.1,<5"
ninja = ">=1.13.1,<2"
clang = "==21.1.0"
clangxx = "==21.1.0"
llvm-openmp = "==21.1.0"
eigen = ">=3.4.0,<4"
libboost-devel = ">=1.86.0,<2"
spdlog = ">=1.15.3,<2"
clang-tools = "==21.1.0"
llvm-tools = "==21.1.0"
compiler-rt = "==21.1.0"
gtest = ">=1.14.0,<2"
anaconda-client = "*"

[feature.dev.tasks]
dev-clean = "find prexsyn_engine -name '*.so' -type f -delete || true"
dev-install = { cmd = "pip install -e .", depends-on = ["dev-clean"] }
lint = "pre-commit run --all-files"

configure-test = "cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -G Ninja -S . -B build"
build-test = { cmd = "ninja unittest -C build", depends-on = ["configure-test"] }
test = { cmd = "ctest --test-dir build --output-on-failure", depends-on = ["build-test"] }

[feature.prod.dependencies]
prexsyn-engine = { path = "./rattler-recipe" }

[environments]
default = ["dev"]
prod = ["prod"]
