[workspace]
name = "prexsyn-backend"
channels = ["conda-forge"]
platforms = ["linux-64"]
preview = ["pixi-build"]

[dependencies]
python = ">=3.11,<4"
pip = "*"
numpy = ">=2.3.0,<3"
rdkit = ">=2025.3.6,<2026"
librdkit = ">=2025.3.6,<2026"

[feature.dev.dependencies]
setuptools = "*"
python-build = "*"
librdkit-dev = ">=2025.3.6,<2026"
libboost-python-devel = ">=1.86.0,<2"
cmake = ">=4.1.1,<5"
clang = ">=21.1.1,<22"
clangxx = ">=21.1.1,<22"
clang-tools = ">=21.1.1,<22"
llvm-tools = ">=21.1.1,<22"
eigen = ">=3.4.0,<4"
libboost-devel = ">=1.86.0,<2"
spdlog = ">=1.15.3,<2"

[feature.dev.pypi-dependencies]
prexsyn-backend = { path = ".", editable = true }

[feature.dev.tasks]
build = "python -m build --wheel --no-isolation --outdir dist/"

[feature.test-py.pypi-options]
find-links = [{ path = './dist' }]

[feature.test-py.pypi-dependencies]
prexsyn-backend = { version = "*" }

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[environments]
test-py = ["test-py"]
py311 = ["py311", "dev"]
py312 = ["py312", "dev"]
py313 = ["py313", "dev"]
