[workspace]
authors = ["Shitong Luo <luost26@gmail.com>"]
channels = ["conda-forge"]
name = "prexsyn-engine"
platforms = ["linux-64"]
version = "2.0.0.dev0"

[dependencies]
cmake = ">=4.2.3,<5"
ninja = ">=1.13.2,<2"
cairo = ">=1.18.4,<2"
zlib = ">=1.3.1,<2"
eigen = ">=3.4.0,<4"
pybind11 = ">=3.0.1,<4"

pre-commit = ">=4.5.1,<5"

[target.linux-64.dependencies]
clangxx = "==21.1.0"
llvm-openmp = "==21.1.0"
clang-tools = "==21.1.0"
llvm-tools = "==21.1.0"
compiler-rt = "==21.1.0"
libstdcxx-ng = ">=15.0.0"

[tasks]
install-boost = { cmd = "./boost.sh", cwd = "third_party" }
install-rdkit = { cmd = "./rdkit.sh", cwd = "third_party" }

[target.linux-64.activation.env]
LD_LIBRARY_PATH = "${CONDA_PREFIX}/lib:${LD_LIBRARY_PATH}"
CXX = "${CONDA_PREFIX}/bin/clang++"
CC = "${CONDA_PREFIX}/bin/clang"
