[workspace]
name = "prexsyn-backend"
channels = ["conda-forge"]
platforms = ["linux-64"]
preview = ["pixi-build"]

[dependencies]
python = ">=3.11,<4"
pip = "*"
numpy = ">=2.3.0,<3"
rdkit = ">=2025.3.6,<2026"

[feature.build.dependencies]
setuptools = "*"
python-build = "*"
librdkit-dev = ">=2025.3.6,<2026"
libboost-python-devel = ">=1.86.0,<2"
cmake = ">=4.1.1,<5"
ninja = ">=1.13.1,<2"
clang = ">=21.1.1,<22"
clangxx = ">=21.1.1,<22"
eigen = ">=3.4.0,<4"
libboost-devel = ">=1.86.0,<2"
spdlog = ">=1.15.3,<2"
llvm-openmp = ">=21.1.0,<22"

[feature.dev.dependencies]
clang-tools = ">=21.1.1,<22"
llvm-tools = ">=21.1.1,<22"
compiler-rt = ">=21.1.1,<22"
pre-commit = "*"

[feature.test.dependencies]
gtest = ">=1.14.0,<2"

[feature.build.tasks]
build = "python -m build --wheel --no-isolation --outdir dist/"

[feature.dev.pypi-dependencies]
prexsyn-backend = { path = ".", editable = true }

[feature.dev.tasks]
lint = "pixi run pre-commit run --files csrc/* prexsyn_backend/* setup.py"

[feature.test.tasks]
configure-test = "cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -G Ninja -S . -B build"
build-test = { cmd = "ninja unittest -C build", depends-on = ["configure-test"] }
test = { cmd = "ctest --test-dir build --output-on-failure", depends-on = ["build-test"] }

[feature.test-py.pypi-options]
find-links = [{ path = './dist' }]

[feature.test-py.pypi-dependencies]
prexsyn-backend = { version = "*" }

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[environments]
default = ["build", "dev"]
test = ["build", "dev", "test"]
test-py = ["test-py"]
py311 = ["py311", "build"]
py312 = ["py312", "build"]
py313 = ["py313", "build"]
