name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rdkit-version: ["*", "==2025.3.6"]
    steps:
      - uses: actions/checkout@v4
      - name: Set RDKit version ${{ matrix.rdkit-version }}
        run: |
          sed -i '/rdkit =/c\rdkit = "${{ matrix.rdkit-version }}"' pixi.toml
          sed -i '/librdkit-dev =/c\librdkit-dev = "${{ matrix.rdkit-version }}"' pixi.toml
          cat pixi.toml
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: Lint
        run: pixi run lint
      - name: Run C++ tests
        run: pixi run test
      - name: Run Python tests
        run: pixi run test-py
