name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.9.3
      with:
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    - name: Lint
      run: pixi run lint
    - name: Run C++ tests
      run: pixi run test
    - name: Run Python tests
      run: pixi run test-py
